@page "/"

@using Microsoft.Graph;
@using Microsoft.Identity.Web;

@inject MicrosoftIdentityConsentAndConditionalAccessHandler consenthandler
@inject GraphServiceClient graphServiceClient

<PageTitle>Index</PageTitle>

<ShowProfile/>

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h5 class="card-title">.NET v7.0 Blazor Server app connected to Microsoft Graph.</h5>
        <h6 class="card-subtitle mb-2 text-muted">This is a template for a Blazor app built using .NET v7.0 that connects to Microsoft Graph. This apps hows calendar events for one week and Email messages.</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://github.com/17anik/DemoBlazorGraphAPI" class="card-link">Github</a>
    </div>
</div>


@code{
    User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await graphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            consenthandler.HandleException(ex);
        }
    }
}
