
@using Microsoft.Identity.Web
@using Microsoft.Graph
@using DemoBlazorGraphAPI.Graph
@using System.Net.Http.Headers

@inject GraphProfileClient profileClient;
@inject ITokenAcquisition _tokenAcquisition;
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

@if (UserDisplayName == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>
        @if (UserPhoto != null)
        {
            <img src="data:image/jpeg;base64, UserPhoto" class="user-photo nav-profile-photo rounded-circle align-self-center mr-2" />
        }
        Welcome @UserDisplayName!
    </h3>
}

@code {

    public string UserDisplayName { get; private set; } = "";
    public string UserPhoto { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await profileClient.GetUserProfile();
            UserDisplayName = user.DisplayName.Split(' ')[0];
            UserPhoto = await profileClient.GetUserProfileImage();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}
