<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name!
        <a style="color:white; padding-left:2em" href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a style="color:azure" href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
